.banner {
	width: 100%;
	height: 562px;
	position: relative;
}
.banner>div:first-child,.banner>div:first-child div {
	width: 100%;
}
.banner>div:first-child div img {
	width: 100%;
	height: 100%;
}
.banner>div:last-child {
	width: 120px;
	height: 15px;
	/*background: red;*/
	position: absolute;
	bottom: 22px;
	left: calc(50% - 60px);
	z-index: 9;
	line-height: 15px;
}
.banner_nav span {
	box-sizing: border-box;
	width: 17px;
	height: 17px;
	background-color: #000000;
	border: 2px solid #7e7b79;
}
.title {
	width: 230px;
	height: 118px;
	position: relative;
	margin: 75px auto 0;
}
.title p {
	position: absolute;
}
.title p:nth-child(2){
	width: 100%;
	text-align: center;
	top: 12px;
	font-size: 24px;
	color: #342719;
}
.title p:nth-child(3){
	width: 118%;
	line-height: 36px;
	text-align: center;
	top: 47px;
	left: -9%;
	font-size: 36px;
	color: #342719;
}
.title p:nth-child(4){
	width: 100%;
	text-align: center;
	letter-spacing: 1px;
	bottom: 0px;
	font-size: 12px;
	line-height: 12px;
	color: #342719;
}


.find_door {
	width: 1110px;
	height: 376px;
	background: #ccc;
	margin: 50px auto 130px;
	padding-top: 1px;
}
.door {
	width: 232px;
	height: 326px;
	border-radius:5px;
	box-shadow: 0 3px 10px 3px rgba(0,0,0,1);
	position: relative;
	margin-right: 56px;
	float: left;
}
.door_show {
	width: 200px;
	height: 294px;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: none;
}
.door_show_text {
	width: 102px;
	height: 26px;
	border: 2px solid #ffffff;
	margin: 106px auto 0;
	text-align: center;
	/*font-weight: bold;*/
	color: white;
	font-size: 12px;
	line-height: 26px;
}
.door_show_text>a {
	color: white;
}
.door:nth-child(1){
	background: url(../images/men_1.jpg) no-repeat;
	background-size: 100% 100%;
	margin-top: 48px;
}
.door:nth-child(2){
	background: url(../images/men_2.jpg) no-repeat;
	background-size: 100% 100%;
}
.door:nth-child(3){
	background: url(../images/men_3.jpg) no-repeat;
	background-size: 100% 100%;
	margin-top: 48px;
}
.door:nth-child(4){
	background: url(../images/men_4.jpg) no-repeat;
	background-size: 100% 100%;
	margin: 0;
}
.bg_title {
	width: 100%;
	height: 170px;
	background-color: #e7e7e7;
	padding-top: 130px;
}
.six_img {
	width: 100%;
	height: 460px;
	background-color: #e7e7e7;
}
.six_img_img {
	display: block;
	margin: 0 auto;
}
/*轮播图*/
.animat_module {
	width: 1140px;
	height: 604px;
	border: 1px solid #000000;
	margin: 66px auto 0;
	position: relative;
}
.pic_list {
	width: 100%;
	height: 540px;
	position: relative;
}
.pic_list li{
	width: 180px;
	height: 136px;
	position: absolute;
}
.pic_list li img {
	width: 100%;
	height: 100%;
}
.pic_list li:nth-child(1){
	width: 720px;
	height: 540px;
	top: 0px;
	left: 120px;
	z-index: 5;
}
.pic_list li:nth-child(2){
	top: 160px;
	left: 30px;
	z-index: 4;
}
.pic_list li:nth-child(3){
	top: 170px;
	left: 20px;
	z-index: 3;
}
.pic_list li:nth-child(4){
	top: 180px;
	left: 10px;
	z-index: 2;
}
.pic_list li:nth-child(5){
	top: 190px;
	left: 0px;
	z-index: 1;
}
.txt_list {
	width: 420px;
	height: 340px;
	position: absolute;
	bottom: 0;
	left: 100px;
	z-index: 9;
}
.txt_list li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ae1e24;
	background-size: cover;
	clip-path: polygon(0 0,100% 0,100% 100%,0 100%,0 66px,12px 56px,0 46px);
}
.contro {
	width: 124px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}
.left_contro {
	width: 58px;
	height: 58px;
	background-color: #ae1e24;
	color: white;
	font-size: 32px;
	text-align: center;
	line-height: 56px;
	float: left;
	border: 2px solid #7c5690;
}
.right_contro {
	width: 58px;
	height: 58px;
	background-color: #ae1e24;
	color: white;
	font-size: 32px;
	text-align: center;
	line-height: 56px;
	float: left;
	border: 2px solid rgba(0,0,0,0);
}






